:root{
    --first: #1b262c;
    --black:black;
   --second: #0f4c75;
   --third: #3282b8;
   --fourth: #bbe1fa;
   }
#modal-header{
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "h5 . closeBtn"
    "subtitle . .";
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-color: var(--first);
}
#signUpSubtitle{
color: var(--third);
}
#modal-footer{
    justify-content: center;
    border-color: var(--first);
}
.modal-content{
    background-color: #d3e9f8;
    color: var(--second);
}

