
#signUpTitle{
    grid-area: h5;
    padding-top: 2%;
}

#signUpSubtitle{
    grid-area: subtitle;
    color: rgba(128, 128, 128, 0.842);
}
#signUpClose{
    grid-area: closeBtn;
    top: 0;
    align-self: start;
    margin-top: 2%;
    margin-right: 2%;
}
#signUpSave{
 left: 2%;
 top: 2%;
 min-width: 40%;
}


 